version: "2.3"

services:
  couchdb1:
    image: apache/couchdb:2.1.1
    command: -name couchdb@172.16.238.11 -setcookie thecookie
    env_file: .couchdb-env
    restart: always
    networks:
      couchdb-cluster:
        ipv4_address: 172.16.238.11
    ports:
      - "15984:5984"

  couchdb2:
    image: apache/couchdb:2.1.1
    command: -name couchdb@172.16.238.12 -setcookie thecookie
    env_file: .couchdb-env
    restart: always
    networks:
      couchdb-cluster:
        ipv4_address: 172.16.238.12
    ports:
      - "25984:5984"

  couchdb3:
    image: apache/couchdb:2.1.1
    command: -name couchdb@172.16.238.13 -setcookie thecookie
    env_file: .couchdb-env
    restart: always
    networks:
      couchdb-cluster:
        ipv4_address: 172.16.238.13
    ports:
      - "35984:5984"

  couchdbstats:
    image: gesellix/couchdb-prometheus-exporter
    command: -couchdb.uri=http://couchdb1:5984 -logtostderr
    env_file: .couchdb-env
    networks:
      couchdb-cluster:
        ipv4_address: 172.16.238.10
    ports:
      - "9984:9984"

  cluster-init:
    image: cluster-init
    networks:
      couchdb-cluster:
        ipv4_address: 172.16.238.99

networks:
  couchdb-cluster:
   driver: overlay
   ipam:
    driver: default
    config:
      - subnet: "172.16.238.0/24"
