version: "2"

services:
  couchdb:
    image: apache/couchdb:2.1.1
    env_file: .couchdb-env
    restart: always
    volumes:
      - couchdb-test:/opt/couchdb/data
    networks:
      - couchdb-test
    expose:
      - 5984
    ports:
      - "5984:5984"

  couchdbstats:
    image: gesellix/couchdb-prometheus-exporter
    command: -couchdb.uri=http://couchdb:5984 -logtostderr
    env_file: .couchdb-env
    networks:
      - couchdb-test
    expose:
      - 9984
    ports:
      - "9984:9984"

networks:
  couchdb-test:
    external: true

volumes:
  couchdb-test:
    external: true
