version: "2"

services:
  couchdb:
    image: couchdb:2.3.1
    env_file: .couchdb-env
    restart: always
    volumes:
      - couchdb-test:/opt/couchdb/data
    networks:
      - couchdb-test
    ports:
      - "5984:5984"

  couchdbstats:
    image: "gesellix/couchdb-prometheus-exporter:${COUCHDB_EXPORTER_VERSION:-latest}"
    command: -couchdb.uri=http://couchdb:5984 -logtostderr
    env_file: .couchdb-env
    networks:
      - couchdb-test
    ports:
      - "9984:9984"

networks:
  couchdb-test:
    external: true

volumes:
  couchdb-test:
    external: true
